html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
    background-color: #f2f2f2;
}

.wrapper {
   width: 1200px;
   margin: 0 auto;
   box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
   background-color: #fff;
 }

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header__logo {
  position: relative;
}

.main-header__logo-image {
  position: absolute;
  left: 530px;
  top: 0;
  background-image: url("img/logo-sedona.svg");
  background-position: top center;
  background-repeat: none;
  width: 140px;
  height: 71px;
}

.main-navigation__list-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  height: 56px;
  padding-left: 73px;
  padding-right: 73px;
}

.main-navigation__item-navigation {
  width: 240px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.main-navigation__item-navigation--left {
  text-align: left;
}

.main-navigation__item-navigation--right {
  text-align: right;
}
.main-navigation__item-navigation:nth-child(3) {
  margin-left: auto;
}

.main-navigation__link-navigation {
  width: 239px;
  font-size: 14px;
  text-align: left;
  color: #000000;
}

.main-navigation__link-navigation:hover,
.main-navigation__link-navigation:focus {
  color: #81b3d2;
}

.main-navigation__link-navigation:active {
  color: rgba(0, 0, 0, 0.3);
}

.background-images {
  background-image: url("../img/intro-mask.svg"), url("../img/mountain.jpg");
  background-repeat: no-repeat;
  background-position: center bottom -2px, 0 -56px;
  text-align: center;
  padding-top: 76px;
  padding-bottom: 72px;
}

.slogan-image {
  margin: 0 auto;
  width: 459px;
  height: 353px;
}

.features__header {
  margin: 0 auto;
  width: 489px;
  padding-top: 61px;
  padding-bottom: 50px;
}

.features__title {
  font-size: 21px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
}

.features__text {
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.features__list,
.features__description {
  display: flex;
  flex-wrap: wrap;
}

.features__description {
  padding-top: 48px;
  padding-bottom: 38px;
  background-color: #eeeeee;
}

.features__list:nth-child(1) .features__feature-item,
.features__list:nth-child(3) .features__feature-item  {
  width: 400px;
  height: 256px;
  text-align: center;
}

.feature-item--blue {
  background-color: #81b3d2;
  width: 400px;
  min-height: 256px;
  padding: 48px 0 64px;
  text-align: center;
}

.feature-item__title {
  font-size: 21px;
  text-align: center;
  line-height:21px;
  color:#000000;
  width: 155px;
  margin: 0 auto;
  margin-bottom: 23px;
}

.feature-item__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
  color:#333333;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 21px;
  display: block;
  width: 304px;
}

.feature-item__text--sights {
  width: 280px;
}

.feature-item__text--canyon {
  width: 259px;
}

.feature-item__title--white,
.feature-item__text--white {
  color:#ffffff;
  text-align: center;
}

.feature-item__text--number::before {
  content: "— ";
}

.feature-item__text--number::after {
  content: " —";
}

.features__image-wrapper--left,
.features__image-wrapper--right {
  background-color: #d36f59;
  width: 800px;
  height: 256px;
}

.attractions {
  display: flex;
}

.attractions__item {
  padding-top: 162px;
  padding-bottom: 82px;
}

.attractions__item,
.feature-item {
  width: 400px;
  text-align: center;
}

.attractions__title {
  position: relative;
}

.attractions__title--house::before,
.attractions__title--food::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  top: -102px;
  left: 162px;
}

.attractions__title--house::before {
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-1.svg");
}

.attractions__title--food::before {
  width: 74px;
  height: 70px;
  background-image: url("../img/icon-3.svg");
}

.attractions__title--gift::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  top: -106px;
  left: 168px;
}

.attractions__title,
.attractions__text {
  margin: 0;
  padding: 0;
}

.attractions__title {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin: 0 auto;
  margin-bottom: 23px;
}

.attractions__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  width: 284px;
  margin: 0 auto;
}

.map {
  position: relative;
  padding-top: 48px;
}

.map iframe {
  position: absolute;
  top: 1px;
  left: 0;
}

.map__wrapper-text {
    margin: 0 auto;
    width: 434px;
    padding-top: 4px;
}

.map__title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.map__text {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin: 0 auto;
  padding-top: 23px;
  width: 440px;
  margin-bottom: 132px;
}

.hotel-search {
  position: relative;
  background-color: #cbdda9;
  min-height: 593px;
}

.hotel-search_wrapper-form {
  position: absolute;
  width: 568px;
  min-height: 395px;
  left: 316px;
  display: flex;
  flex-direction: column;
  background-color: #;
  z-index: 10;
  background-color: #ffffff;
  padding: 55px;
}

.hotel-search__button {
  color:#ffffff;
  text-align: center;
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 0;
}

.hotel-search__button--minus,
.hotel-search__button--plus {
  position: relative;
  width: 38px;
  height: 38px;
}

.hotel-search__button--minus::before,
.hotel-search__button--plus::before,
.hotel-search__button--plus::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 13px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.hotel-search__button--plus::after {
  transform: rotate(90deg);
}

.hotel-search__button--minus:hover::before,
.hotel-search__button--minus:focus::before,
.hotel-search__button--plus:hover::after,
.hotel-search__button--plus:focus::after,
.hotel-search__button--plus:hover::before,
.hotel-search__button--plus:focus::before {
  background-color: #000000;
}

.hotel-search__button--minus:active::before,
.hotel-search__button--plus:active::before,
.hotel-search__button--plus:active::after {
  background-color: #81b3d2;
}

.hotel-search__button--brown {
  position: absolute;
  top: 205px;
  left: 316px;
  background-color: #766357;
  width: 568px;
  height: 86px;
  border: 0;
}

.hotel-search__button--brown:hover,
.hotel-search__button--brown:focus {
  background-color: #604e43;
}

.hotel-search__button--brown:active {
  background-color: #503e33;
}

.hotel-search__button--blue {
  background-color: #81b3d2;
  padding-top: 17px;
  padding-bottom: 15px;
}

.hotel-search__button--blue:hover,
.hotel-search__button--blue:focus {
  background-color: #669ec0;
}

.hotel-search__button--blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-search__form {
  display: flex;
  flex-direction: column;
}

.hotel-search__wrapper-field {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
  align-items: center;
}

.hotel-search__wrapper-field--margin-bottom {
  margin-bottom: 55px;
}

.hotel-search__wrapper-people-number {
  display: flex;
  align-items: center;
}

.hotel-search__input--number {
  width: 38px;
}
.hotel-search__label-name,
.hotel-search__input {
  font: inherit;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  text-transform: inherit;
}

.hotel-search__label-name--margin-adults {
  margin-right: 44px;
}

.hotel-search__label-name--margin-kids {
  margin-right: 27px;
}

.hotel-search__input {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  border: 0;
  padding-left: 13px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.hotel-search__input--dates {
  width: 346px;
}

.hotel-search__button--dates {
  position: absolute;
  background-color: transparent;
  right: 9px;
  top: 8px;
  width: 21px;
  height: 22px;
  margin: 0;
  padding: 0;
}

.hotel-search__button--dates path {
  fill: #cacaca;
}

.hotel-search__button--dates:hover path,
.hotel-search__button--dates:focus path {
  fill: #000000;
}

.hotel-search__button--dates:active path {
  fill: #81b3d2;
}

.hotel-search__input {
  border: solid 2px transparent;
  background-color: #f2f2f2;
}

.hotel-search__input:hover {
  background-color: #ebebeb;
}

.hotel-search__input:focus {
  border: solid 2px #e5e5e5;
  background-color: #ffffff;
}

::-moz-placeholder {
  opacity: 1;
}

.hotel-search__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000;
}
.hotel-search__input::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
}
.hotel-search__input:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}
.hotel-search__input:-moz-placeholder { /* Firefox 18- */
  color: #000000;
}

.hotel-search-inner {

}

.form-inner {
  background-color: #81b3d2;
  display: flex;
  padding-top: 25px;
  padding-left: 72px;
  padding-right: 74px;
  padding-bottom: 28px;
}

.form-inner__form-group {
  border: 0;
  margin: 0;
  padding: 0;
}

.form-inner__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-inner__item {
  margin-left: 40px;
  margin-bottom: 18px;
}

.form-inner__item:last-child {
  margin-bottom: 0px;
}

.form-inner__form-title {
  color:#ffffff;
  font-size: 16px;
  margin-bottom: 18px;
}

.form-inner__label {
  font-size: 14px;
  font-weight: normal;
  color:#ffffff;
}

.form-inner__input {
  border: solid 2px #ffffff;
  background-color: transparent;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

.form-inner__button-show {
  background-color: transparent;
  border: solid 2px #ffffff;
  font: inherit;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.form-inner__button-show:hover,
.form-inner__button-show:focus,
.form-inner__button-show:active {
  background-color: #ffffff;
  color: #000000;
}

.sorting {
  display: flex;
}

.sorting__list,
.sorting__direction-list {
  display: flex;
}

.sorting__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.sorting__title {
  font-size: 12px;
  line-height: 18px;
  font-weight:normal;
}

.sorting__link {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting__link:active {
  color: #000000;
}

.sorting__link--current:active {
  color: #81b3d2;
  text-decoration: none;
}

.sorting__link--rating {
  border-bottom: 1px dotted;
  color: rgba(0, 0, 0, 0.3)
}

.sorting__link--rating:hover {
  color: #81b3d2;
  text-decoration: underline;
}

.sorting__link--rating:focus {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px dotted #ffffff;
}

.sorting__direction-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting__direction-link {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting__direction-link:hover,
.sorting__direction-link:focus {
  color: #000000;
}

.sorting__direction-link:active {
  color: #81b3d2;
}

.hotel-wrapper {
  display: flex;
}
.hotels__image {
  width: 135px;
  height: 90px;
}
.hotel-wrapper__accommodation {
  margin-right: auto;
}

.hotel-wrapper__title {
  font-size: 21px;
  line-height: 26px;
}

.hotel-wrapper__title:hover,
.hotel-wrappers__title:focus {
  color: #81b3d2;
}

.hotel-wrapper__title:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-wrapper__type,
.hotel-wrapper__price {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #333333;
}

.hotel-wrapper__button {
  font: inherit;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
}

.hotel-wrapper__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-wrapper__button--blue {
  color: #ffffff;
  background-color: #81b3d2;
}

.hotel-wrapper__button--blue:hover {
  background-color: #669ec0;
}

.hotel-wrapper__button--blue:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-wrapper__button--brown {
  color: #ffffff;
  background-color: #766357;
}

.hotel-wrapper__button--brown:hover {
  color: #ffffff;
  background-color: #604e43;
}
.hotel-wrapper__button--brown:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-wrapper__stars,
.hotel-wrapper__raitng-text {
  display: block;
}

.hotel-wrapper__raitng-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  color: #666666;
}

.hotel-wrapper__stars {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  color: #666666;
}

.footer {
  position: relative;
}

.main-footer {
  display: flex;
  position: absolute;
  z-index: 2;
  top: -124px;
  margin: 0;
  padding: 0;
  min-height: 120px;
  background-color: rgba(255,255,255,0.9);
}

.main-footer__hashtag,
.main-footer__social,
.main-footer__copyright {
  width: 400px;
  text-align: center;
}

.main-footer__hashtag {
  padding-top: 47px;
}

.main-footer__social {
  display: flex;
  justify-content: center;
  padding-top: 36px;
}

.main-footer__social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-footer__link {
  position: relative;
  display: block;
  background-color: #81b3d2;
  color: #000000;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  margin-bottom: 6px;
}

.main-footer__link--icon-twitter::before,
.main-footer__link--icon-facebook::before,
.main-footer__link--icon-youtube::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}

.main-footer__link--icon-twitter::before {
  width: 17px;
  height: 15px;
  top: 17px;
  left: 17px;
  background-image: url("../img/twitter.svg");
}

.main-footer__link--icon-twitter:active::before,
.main-footer__link--icon-facebook:active::before,
.main-footer__link--icon-youtube:active::before {
  opacity: 0.3;
}

.main-footer__link--icon-facebook::before {
  width: 12px;
  height: 22px;
  top: 13px;
  left: 17px;
  background-image: url("../img/fb-icon.svg");
}

.main-footer__link--icon-youtube::before {
  width: 20px;
  height: 16px;
  top: 16px;
  left: 15px;
  background-image: url("../img/youtube.svg");
}

.main-footer__link:hover,
.main-footer__link:focus {
  background-color: #669ec0;
}

.main-footer__link:active {
  background-color: #5496bd;
}

.main-footer__copyright {
  display: flex;
  justify-content: center;
  padding-top: 39px;
}

.main-footer__copyright-text {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #000000;
  margin-right: 8px;
  margin-top: 9px;
}

.main-footer__image-developer path {
  fill: #231f20;
}

.main-footer__image-developer:hover path,
.main-footer__image-developer:focus path {
  fill: #81b3d2;
}

.main-footer__image-developer:active path {
  fill: #bdbbbc;
}
