html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.wrapper {
   outline: 1px solid red;
   width: 1200px;
   margin: 0 auto;
   box-shadow: 0px 5px 15px 10px rgba(0, 1, 1, 0.2);
 }

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header__logo {
  position: relative;
}

.main-header__logo-image {
  position: absolute;
  left: 530px;
  top: 0;
  background-image: url("img/logo-sedona.svg");
  background-position: top center;
  background-repeat: none;
}

.main-navigation__list-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-navigation__item-navigation:nth-child(3) {
  margin-left: auto;
}

.main-navigation__link-navigation {
  font-size: 14px;
  text-align: center;
  color: #000000;
}

.main-navigation__link-navigation:hover,
.main-navigation__link-navigation:focus {
  color: #81b3d2;
}

.navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.slogan-image {
  margin: 0 auto;
}

.features__header {
  margin: 0 auto;
  width: 489px;
}

.features__title {
  font-size: 21px;
  text-align: center;
}

.features__text {
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  text-align: center;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  outline: 2px solid blue;
}

.features__list:nth-child(1) .features__feature-item,
.features__list:nth-child(3) .features__feature-item  {
  width: 400px;
  min-height: 256px;
  text-align: center;
}

.feature-item--blue {
  background-color: #81b3d2;
  width: 400px;
  min-height: 256px;
  padding: 46px 60px 64px;
  text-align: center;
}

.feature-item {
  padding: 50px 97px 63px 95px;
}

.feature-item__title {
  font-size: 21px;
  text-align: center;
  line-height:21px;
  color:#000000;
}

.feature-item__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
  color:#333333;
}

.feature-item__title--white,
.feature-item__text--white {
  color:#ffffff;
  text-align: center;
}

.features__image-wrapper--left,
.features__image-wrapper--right {
  background-color: #d36f59;
  width: 800px;
}

.attractions {
  display: flex;
}

.attractions__item,
.feature-item {
  width: 400px;
  min-height: 256px;
  text-align: center;
}
.attractions__title {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.attractions__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.map__wrapper-text {
    margin: 0 auto;
    width: 434px;
}

.map__title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.map__text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.map__image {
  background-color:#cbdda9;
}

.hotel-search_wrapper-form {
  width: 568px;
  margin: 0 auto;
}

.hotel-search__button {
  color:#ffffff;
  text-align: center;
  font: inherit;
  text-transform: uppercase;
}

.hotel-search__button--brown {
  background-color: #766357;
}

.hotel-search__button--brown:hover,
.hotel-search__button--brown:focus {
  background-color: #604e43;
}

.hotel-search__button--brown:active {
  background-color: #503e33;
}

.hotel-search__button--blue {
  background-color: #81b3d2;
}

.hotel-search__button--blue:hover,
.hotel-search__button--blue:focus {
  background-color: #669ec0;
}

.hotel-search__button--blue:active {
  background-color: #5496bd;
}

.hotel-search__form {
  display: flex;
  flex-direction: column;
}

.hotel-search__label-name,
.hotel-search__input {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.hotel-search__input {
  background-color: #f2f2f2;
}

.hotel-search__input:hover,
.hotel-search__input:focus {
  background-color: #ebebeb;
}

.hotel-search__input:active {
  border: solid 2px #e5e5e5;
  background-color: #ffffff;
}

::-moz-placeholder {
  opacity: 1;
}

.hotel-search__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000;
}
.hotel-search__input::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
}
.hotel-search__input:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}
.hotel-search__input:-moz-placeholder { /* Firefox 18- */
  color: #000000;
}

.form-inner {
  background-color: #81b3d2;
  display: flex;
  justify-content: space-around;
}

.form-inner__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-inner__form-title {
  color:#ffffff;
  font-size: 16px;
}

.form-inner__label {
  font-size: 14px;
  font-weight: normal;
  color:#ffffff;
}

.form-inner__input {
  border: solid 2px #ffffff;
  background-color: transparent;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

.form-inner__button-show {
  background-color: transparent;
  border: solid 2px #ffffff;
  font: inherit;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.form-inner__button-show:hover,
.form-inner__button-show:focus,
.form-inner__button-show:active {
  background-color: #ffffff;
  color: #000000;
}

.sorting {
  display: flex;
}

.sorting__list,
.sorting__direction-list {
  display: flex;
}

.sorting__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.sorting__title {
  font-size: 12px;
  line-height: 18px;
  font-weight:normal;
}

.sorting__link {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting__link:active {
  color: #000000;
}

.sorting__link--current:active {
  color: #81b3d2;
  text-decoration: none;
}

.sorting__link--rating {
  border-bottom: 1px dotted;
  color: rgba(0, 0, 0, 0.3)
}

.sorting__link--rating:hover {
  color: #81b3d2;
  text-decoration: underline;
}

.sorting__link--rating:focus {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px dotted #ffffff;
}

.sorting__direction-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting__direction-link {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting__direction-link:hover,
.sorting__direction-link:focus {
  color: #000000;
}

.sorting__direction-link:active {
  color: #81b3d2;
}

.hotel-wrapper {
  display: flex;
}

.hotel-wrapper__accommodation {
  margin-right: auto;
}

.hotel-wrapper__title {
  font-size: 21px;
  line-height: 26px;
}

.hotel-wrapper__title:hover,
.hotel-wrappers__title:focus {
  color: #81b3d2;
}

.hotel-wrapper__title:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-wrapper__type,
.hotel-wrapper__price {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #333333;
}

.hotel-wrapper__button {
  font: inherit;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
}

.hotel-wrapper__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-wrapper__button--blue {
  color: #ffffff;
  background-color: #81b3d2;
}

.hotel-wrapper__button--blue:hover {
  background-color: #669ec0;
}

.hotel-wrapper__button--blue:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-wrapper__button--brown {
  color: #ffffff;
  background-color: #766357;
}

.hotel-wrapper__button--brown:hover {
  color: #ffffff;
  background-color: #604e43;
}
.hotel-wrapper__button--brown:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-wrapper__stars,
.hotel-wrapper__raitng-text {
  display: block;
}

.hotel-wrapper__raitng-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  color: #666666;
}

.hotel-wrapper__stars {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  color: #666666;
}

.main-footer {
  display: flex;
  justify-content: space-around;
}

.main-footer__hashtag,
.main-footer__social,
.main-footer__copyright {
  width: 400px;
  text-align: center;
}

.main-footer__social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-footer__link {
  background-color: #81b3d2;
  color: #000000;
}

.main-footer__link:hover,
.main-footer__linkn:focus {
  background-color: #669ec0;
}

.main-footer__link:active {
  background-color: #5496bd;;
}

.main-footer__copyright-text {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #000000;
}
